# ignore obj files
*.o

# ignore make depenency files
*.d

# ignore test exe
abacitest

# ignore generated binding files
lua/abaci.so
src/ruby/abaci_ext.cpp

# ignore userdata from ios xcode project
xcuserdata


